<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-text">
            <h3>Create a new Job!</h3>
        </span>
        <a href="/destroy" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Log Out</a>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">
        <div class="card" style="width: 35rem; margin-left: 215px;">
            <div class="card-body ">
                <form action="/create/job" method="POST">
                    <div class="form-group">
                            <h3>Hello {{session.first_name}} please enter a new job</h3>
                        <label for="start_date">Title:</label>
                        <input name="title" type="text" class="form-control" id="title" placeholder="Job title">
                    </div>
                    <div class="form-group">
                        <label for="start_date">Description:</label>
                        <input name="description" type="text" class="form-control" id="description" placeholder="Job Description">
                    </div>
                    <div class="form-group">
                        <label for="location">Location:</label>
                        <input name="location" type="text" class="form-control" id="location" placeholder="Job location">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm active" role="button"
                        aria-pressed="true">Create</button>
                    <a href="/dashboard" class="btn btn-danger btn-sm active" role="button"
                        aria-pressed="true">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>